In [1]:
import pandas as pd
from sklearn.impute import SimpleImputer
data = pd.read_csv('../../Datasets/electrical_power.csv')
data.head()

      AT      V       AP     RH      PE
0   8.34  40.77  1010.84  90.01  480.48
1  23.64  58.49  1011.40  74.20  445.75
2  29.74  56.90  1007.15  41.91  438.76
3  19.07  49.69  1007.22  76.79  453.09
4  11.80  40.66  1017.13  97.20  464.43

In [2]:
data.isnull().sum()

AT    2
V     1
AP    1
RH    3
PE    0
dtype: int64

In [3]:
data.describe()

                AT            V           AP           RH           PE
count  9566.000000  9567.000000  9567.000000  9565.000000  9568.000000
mean     19.653032    54.307367  1013.258985    73.314728   454.365009
std       7.452191    12.707637     5.939087    14.598107    17.066995
min       1.810000    25.360000   992.890000    25.560000   420.260000
25%      13.512500    41.740000  1009.100000    63.340000   439.750000
50%      20.350000    52.080000  1012.940000    74.980000   451.550000
75%      25.720000    66.540000  1017.260000    84.830000   468.430000
max      37.110000    81.560000  1033.300000   100.160000   495.760000

In [4]:
data['PE'].isnull().sum()

0

In [5]:
imputer = SimpleImputer(strategy = 'mean')
imputer.fit(data)
data = imputer.transform(data)

In [6]:
data = pd.DataFrame(data, columns=['AT','V','AP','RH','PE'])

In [7]:
data.head()

      AT      V       AP     RH      PE
0   8.34  40.77  1010.84  90.01  480.48
1  23.64  58.49  1011.40  74.20  445.75
2  29.74  56.90  1007.15  41.91  438.76
3  19.07  49.69  1007.22  76.79  453.09
4  11.80  40.66  1017.13  97.20  464.43

In [8]:
data.to_csv('data.csv', index = False)