In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

data = pd.read_csv('data.csv')
data.head()

      AT      V       AP     RH      PE
0   8.34  40.77  1010.84  90.01  480.48
1  23.64  58.49  1011.40  74.20  445.75
2  29.74  56.90  1007.15  41.91  438.76
3  19.07  49.69  1007.22  76.79  453.09
4  11.80  40.66  1017.13  97.20  464.43

In [2]:
x = data.iloc[:,:-1]
x.head()

      AT      V       AP     RH
0   8.34  40.77  1010.84  90.01
1  23.64  58.49  1011.40  74.20
2  29.74  56.90  1007.15  41.91
3  19.07  49.69  1007.22  76.79
4  11.80  40.66  1017.13  97.20

In [3]:
y = data.iloc[:,-1:]
y.head()

       PE
0  480.48
1  445.75
2  438.76
3  453.09
4  464.43

In [4]:
poly = PolynomialFeatures(6)
x_poly = poly.fit_transform(x)

x_train, x_test, y_train, y_test = train_test_split(x_poly, y)
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [5]:
model.score(x_test, y_test)

0.9456474118573206

In [6]:
model.score(x_train, y_train)

0.9443580369195353

In [7]:
import pickle
pickle.dump(model, open('PolynomialModel.sav', 'wb'))