# Import Pandas Library

In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(352001) # Keep the same result

In [2]:
df = pd.DataFrame(
    randn(8,3),
    columns = ['C1', 'C2', 'C3'],
    index = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'])

In [3]:
df.head(n = 3)

         C1        C2        C3
A  0.355411  0.017249  0.119794
B  2.226193  0.785512  0.459577
C  0.245347  0.463243 -1.503495

In [4]:
df

         C1        C2        C3
A  0.355411  0.017249  0.119794
B  2.226193  0.785512  0.459577
C  0.245347  0.463243 -1.503495
D  0.221349  0.465215 -1.316272
E -0.054212 -0.343443 -0.810115
F  0.227702 -0.570448 -0.147473
G -0.221571  0.872749 -0.118112
H -2.386534 -1.139364 -0.326262

# Truth Table

In [5]:
df <= 0

      C1     C2     C3
A  False  False  False
B  False  False  False
C  False  False   True
D  False  False   True
E   True   True   True
F  False   True   True
G   True  False   True
H   True   True   True

# Bye