# Load the dataset

In [1]:
import pandas as pd
data = pd.read_csv('Datasets/employees_data.csv', na_values=['?'])
data.head()

      City  Age  Salary Eligible for bonus
0   Mumbai   27   51000                Yes
1  NewYork   27   48000                Yes
2   Mumbai   30   52000                 No
3  NewYork   28   66000                 No
4    Tokyo   48   55000                Yes

---

# Pre-processing

In [2]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
data['Eligible for bonus'] = encoder.fit_transform(data['Eligible for bonus'])
data = pd.get_dummies(data, drop_first=True)
data.head()

   Age  Salary  Eligible for bonus  City_NewYork  City_Singapore  City_Tokyo
0   27   51000                   1             0               0           0
1   27   48000                   1             1               0           0
2   30   52000                   0             0               0           0
3   28   66000                   0             1               0           0
4   48   55000                   1             0               0           1

---

# Data splitting

In [3]:
x = data.drop('Eligible for bonus', axis=1)
y = data[['Eligible for bonus']]

In [4]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

In [5]:
path = 'out-3-sets'
x.to_csv(f'{path}/x.csv', index=False)
y.to_csv(f'{path}/y.csv', index=False)

---

# Good-bye