# Load the dataset

In [29]:
import pandas as pd
x = pd.read_csv('out-3-sets/x.csv')
y = pd.read_csv('out-3-sets/y.csv')

---

# Standard Scaler

In [30]:
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()
x1 = x.copy()
x1 = std_scaler.fit_transform(x1)
x1 = pd.DataFrame(x1, columns=x.columns)
x1.head()

        Age    Salary  City_NewYork  City_Singapore  City_Tokyo
0 -1.254609 -0.383755     -0.603023       -0.603023        -0.5
1 -1.254609 -0.556048      1.658312       -0.603023        -0.5
2 -0.776157 -0.326323     -0.603023       -0.603023        -0.5
3 -1.095125  0.477712      1.658312       -0.603023        -0.5
4  2.094560 -0.154030     -0.603023       -0.603023         2.0

In [31]:
import joblib
joblib.dump(std_scaler, 'Scalers/std_scaler.save')
loaded_std_scaler = joblib.load('Scalers/std_scaler.save')

---

# MinMax Scaler

In [32]:
from sklearn.preprocessing import MinMaxScaler
mn_mx_scaler = MinMaxScaler(feature_range=(0,1))
x2 = x.copy()
x2 = mn_mx_scaler.fit_transform(x2)
x2 = pd.DataFrame(x2, columns=x.columns)
x2.head()

        Age    Salary  City_NewYork  City_Singapore  City_Tokyo
0  0.000000  0.512685           0.0             0.0         0.0
1  0.000000  0.469686           1.0             0.0         0.0
2  0.142857  0.527017           0.0             0.0         0.0
3  0.047619  0.727677           1.0             0.0         0.0
4  1.000000  0.570016           0.0             0.0         1.0

In [33]:
joblib.dump(mn_mx_scaler, 'Scalers/mn_mx_scaler.save')
loaded_mn_mx_scaler = joblib.load('Scalers/mn_mx_scaler.save')

---

# Good-bye